.my-navbar{
  background-color: #1e718f; !important;
  opacity:0.7;
  height: 70px;
  font-size: 25px;
  font-style: normal;
  font-family:serif;

}
/*.logo{
  background-color: #1e718f;
  color:black;
  font-family:'Playfair Display',serif;
}*/

.my-hover a:hover {
  opacity: 0.5;
  background-color: transparent !important;
  color: transparent; !important;
}
.heading1{
  font-family: Courier New, sans-serif;
  letter-spacing: 1.5px;
  font-size: 85px;
  color: black;
  text-align: center;
}
.about{
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size:25px;
  color:black;
}
.heading2{
  font-family: Courier New, sans-serif;
  letter-spacing: 1.5px;
  font-size: 50px;
  padding-top: 20px;
  color: black;
  text-align: center;
}
.co{
  font-family:'Montserrat', sans-serif;
  font-size:25px;
  color:black;
}


